* {
	box-sizing: border-box;
}

.headTitles {
  font-weight: bold;
  font-size: 40px;
  font-family: 'Black Ops One', cursive;
	margin: 0;
}

.print {
  font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
	line-height: 25px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

.printSmall {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 13px;
}

.introButton {
  border-radius: 20px;
  font-family: 'Black Ops One', cursive;
	border: 1px solid #5E6572;
  box-shadow: 0 5px 10px rgba(0,0,0,0.25),
			0 5px 5px rgba(0,0,0,0.22);
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 10px 30px;
	letter-spacing: 1px;
	text-transform: uppercase;
  transition: transform 80ms ease-in;

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  background-color: #5E6572;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}

.fourth {
  border-color: #5E6572;
  background-image: -webkit-linear-gradient(45deg, #f1c40f 50%, transparent 50%);
  background-image: linear-gradient(45deg, #13315C 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 400ms ease-in-out;
  transition: background 400ms ease-in-out;
}
.fourth:hover {
  background-position: 0;
}

.introButton:hover {
  cursor: pointer;
}

.introButton:active {
	transform: scale(0.95);
}

.introButton:focus {
	outline: none;
}

.introButton.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25),
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.formContainer {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.signInContainer {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.rightPanelActive .signInContainer {
	transform: translateX(100%);
}

.signUpContainer {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.rightPanelActive .signUpContainer {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}

	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlayContainer {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.rightPanelActive .overlayContainer{
	transform: translateX(-100%);
}

.overlay {
  background: url(../../assets/imgs/gym-bg.jpg);
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.rightPanelActive .overlay {
  	transform: translateX(50%);
}

.overlayPanel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlayLeft {
	transform: translateX(-20%);
}

.container.rightPanelActive .overlayLeft {
	transform: translateX(0);
}

.overlayRight {
	right: 0;
	transform: translateX(0);
}

.container.rightPanelActive .overlayRight {
	transform: translateX(20%);
}

.socialContainer {
	margin: 20px 0;
}

.socialContainer i {
  cursor: pointer;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}
